.service-card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding: 50px 0;
  background-color: #d9e8d9;
  /* gap: 1%; */
  /* margin: 0 8rem; */
}
.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  /* max-width: 450px; */
  object-fit: contain;
  border-radius: 20px;
  margin-bottom: 3rem;
  width: 480px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.404);
  /* height: 500px; */
  background-color: #fff;
  transition: 0.3s;
}

.service-card:hover {
  cursor: pointer;
  transform: scale(1.01) translateY(-10px);
}

.service-card > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* margin-bottom: 5px; */
  /* border: 0.5px solid rgb(201, 199, 199); */
  /* border-radius: 8px; */
}

/* .service-card > img:hover {
    box-shadow: 0px 2px 2px #c2c1c1;
  } */

.service-descrip {
  height: 300px;
  width: 100%;
  /* margin: 0 auto 0 20px; */
}

/* service name */
.service-descrip > h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: start;
  margin-left: 20px;
}

/*description*/
.service-descrip > p {
  margin-top: 0;
  line-height: 1.2;
  padding-right: 25px;
  /* font-size: 0.8em; */
  width: 100%;
  text-align: start;
  margin-left: 20px;
}

@media only screen and (max-width: 450px) {
  .service-descrip > p {
    font-size: 0.8em;
    width: 100%;
  }
}
